<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Image Similarity</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" rel="stylesheet">
</head>

<body>
    <!-- HERO SECTION -->
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{title}}
                </h1>
                <h3 class="subtitle">
                    {{version}}
                </h3>
            </div>
        </div>
    </section>

    <!-- PRODUCT IMAGE SECTION -->
    <section class="section">
        <div class="container">
            <div class="field is-grouped">
                <div class="control">
                    <a href={{random_img}} class="button is-primary">Randomise</a>
                </div>
            </div>
            <div>
                <div class="tile is-ancestor">
                    <div class="tile">
                        {% for product in products %}
                        <div class="tile is-parent">
                            <article class="tile is-child notification"
                                onclick="fetch_similar_products('{{product.uuid}}')">
                                <figure class="image is-4by4">
                                    <img src={{ product.image_path }}>
                                </figure>
                            </article>
                        </div>
                        {% endfor %}
                        <!-- Empty tile for better sizing of other tiles -->
                        <div class="tile is-parent"></div>
                        <div class="tile is-parent"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr style='margin: 0'>

    <!-- RECOMMENDED PRODUCTS SECTION -->
    <section class="section">
        <div id="similarity_container" class="container">

        </div>
    </section>


    <script type="text/javascript">
        function fetch_similar_products(product_id) {

            console.log("product_id requested is - " + product_id)

            url = "similar/" + product_id
            fetch(url)
                .then(response => response.text())
                .then(function (data) {
                    let similarity_container = document.getElementById("similarity_container")
                    similarity_container.innerHTML = ""
                    similarity_container.insertAdjacentHTML('beforeend', data)
                })
                .catch(error => console.log('error is', error))
        }
    </script>
</body>

</html>