<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Image Similarity</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" rel="stylesheet">

</head>

<body>

    <!-- HERO SECTION -->
    <section class="hero is-light">

        <div class="hero-body">
            <div class="container">
                <h2 class="title">
                    {{title}}
                </h2>
                <h3 class="subtitle">
                    {{version}}
                </h3>
            </div>
        </div>
    </section>

    <!-- TABS -->
    <div id='tabbar' class="container">
        <div class="tabs is-centered">
            <ul>
                <li id='tab_1' class="is-active" onclick="switchTab('tab_1', 'tab_content_1')"><a>Shoes</a></li>
                <li id='tab_2' onclick="switchTab('tab_2', 'tab_content_2')"><a>Home</a></li>
                <li id='tab_3' onclick="switchTab('tab_3', 'tab_content_3')"><a>Food</a></li>
                <li id='tab_4' onclick="switchTab('tab_4', 'tab_content_4')"><a>Sample</a></li>
            </ul>
        </div>
        </section>
    </div>

    <!-- TABS CONTENT -->
    <section id='tab_1_content' class="section">
        <div class="container">
            Tab 1
        </div>
    </section>

    <section id='tab_2_content' class="section">
        <div class="container">
            Tab 2
        </div>
    </section>

    <section id='tab_3_content' class="section">
        <div class="container">
            Tab 3
        </div>
    </section>

    <section id='tab_3_content' class="section">
        <div class="container">
            Tab 4
        </div>
    </section>

    <!-- PRODUCT IMAGE SECTION -->
    <section class="section">
        <div class="container">
            <div class="field is-grouped">
                <div class="control">
                    <a href={{random_img}} class="button is-primary">Randomise</a>
                </div>
            </div>
            <div>
                <div class="tile is-ancestor">
                    <div class="tile">
                        {% for product in products %}
                        <div class="tile is-parent">
                            <article class="tile is-child notification"
                                onclick="fetch_similar_products('{{product.uuid}}')">
                                <figure class="image is-4by4">
                                    <img src={{ product.image_path }}>
                                </figure>
                            </article>
                        </div>
                        {% endfor %}
                        <!-- Empty tile for better sizing of other tiles -->
                        <div class="tile is-parent"></div>
                        <div class="tile is-parent"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr style='margin: 0'>

    <!-- RECOMMENDED PRODUCTS SECTION -->
    <section class="section">
        <div id="similarity_container" class="container">

        </div>
    </section>


    <script type="text/javascript">
        // FETCH SIMILAR PRODUCTS
        function fetch_similar_products(product_id) {

            console.log("product_id requested is - " + product_id)

            url = "similar/" + product_id
            fetch(url)
                .then(response => response.text())
                .then(function (data) {
                    let similarity_container = document.getElementById("similarity_container")
                    similarity_container.innerHTML = ""
                    similarity_container.insertAdjacentHTML('beforeend', data)
                })
                .catch(error => console.log('error is', error))
        }

        // TAB SELECTION
        function switchTab(tab_id, tab_content_id) {
            resetTabs();
            selected_tab = document.getElementById(tab_id)
            selected_tab.classList.add('is-active')
        }

        function resetTabs() {
            var tabs = Array.from(document.getElementById('tabbar').getElementsByTagName('li'))
            tabs.forEach(tab => {
                tab.classList.remove('is-active')
            })
        }
    </script>
</body>

</html>